<footer id="footer" class="overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="footer-top-area">
          <div class="row d-flex flex-wrap justify-content-between">
            <div class="col-lg-3 col-sm-6 pb-3">
              <div class="footer-menu">
                <h3>ShoeShop</h3>
                <p>Chuỗi cửa hàng kinh doanh giày 100% chính hãng với mức giá hợp lí. ShoesShop - Giày cho mọi nhà!</p>
              </div>
            </div>
            <div class="col-lg-8 col-sm-6 pb-3">
              <div class="footer-menu contact-item">
                <h5 class="widget-title text-uppercase pb-2">Liên hệ</h5>
                <p>Bạn có câu hỏi hoặc góp ý? Gửi email cho chúng tôi tại <a href="mailto:">webmaster@shoesshop.vn</a>
                </p>
                <p>Cần hỗ trợ ư? Đừng ngần ngại, hãy gọi điện cho chúng tôi: <a href="">+84 0332390280</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </footer>
  <div id="footer-bottom">
    <div class="container">
      <div class="row d-flex flex-wrap justify-content-between">
        <div class="col-md-4 col-sm-6">
          <div class="payment-method d-flex">
            <p>Chấp nhận thanh toán:</p>
            <div class="card-wrap ps-2">
              <img src="/images/visa.jpg" alt="visa">
              <img src="/images/mastercard.jpg" alt="mastercard">
              <img src="/images/paypal.jpg" alt="paypal">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>